@page
@model DoAnWeb.Areas.Admin.Pages.ChiTietGDModel
@{
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.jpg">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.css">


    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Chi Tiết Tất Cả Giao Dịch</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="~/assets/img/icons/filter.svg" alt="img">
                                <span><img src="~/assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Mã Giao Dịch</th>
                                <th>Mã Vé Xe</th>
                                <th>Tên Đăng Nhập</th>
                                <th>Thời Gian Giao Dịch</th>
                                <th>Tổng tiền</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form method="post">
                                @for (int i = 0; i < Model.ChiTietGD.Rows.Count; i++)
                                {                                
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td>@Model.ChiTietGD.Rows[i]["MaGiaoDich"]</td>
                                    <td>@Model.ChiTietGD.Rows[i]["MaVeXe"]</td>
                                    <td>@Model.ChiTietGD.Rows[i]["TenDangNhap"]</td>
                                    <td>@Model.ChiTietGD.Rows[i]["ThoiGianGiaoDich"]</td>
                                    <td>@Model.ChiTietGD.Rows[i]["TongTien"]</td>
                                    <td>@Model.ChiTietGD.Rows[i]["TrangThai"]</td>
                                </tr>
                                }
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
</body>
</html>